{{> header}}
  {{> hero}}

  {{> download-section}}

  <section class="section">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="tile is-horizontal">
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle1'}}}</p>
            <p class="subtitle">{{{text 'featureDesc1'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle2'}}}</p>
            <p class="subtitle">{{{text 'featureDesc2'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle3'}}}</p>
            <p class="subtitle">{{{text 'featureDesc3'}}}</p>
          </article>
        </div>
        <div class="tile is-horizontal">
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle4'}}}</p>
            <p class="subtitle">{{{text 'featureDesc4'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle5'}}}</p>
            <p class="subtitle">{{{text 'featureDesc5'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle6'}}}</p>
            <p class="subtitle">{{{text 'featureDesc6'}}}</p>
          </article>
        </div>
        <div class="tile is-horizontal">
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle7'}}}</p>
            <p class="subtitle">{{{text 'featureDesc7'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle8'}}}</p>
            <p class="subtitle">{{{text 'featureDesc8'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle9'}}}</p>
            <p class="subtitle">{{{text 'featureDesc9'}}}</p>
          </article>
        </div>
        <div class="tile is-horizontal">
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle10'}}}</p>
            <p class="subtitle">{{{text 'featureDesc10'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle11'}}}</p>
            <p class="subtitle">{{{text 'featureDesc11'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle12'}}}</p>
            <p class="subtitle">{{{text 'featureDesc12'}}}</p>
          </article>
        </div>
        <div class="tile is-horizontal">
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle13'}}}</p>
            <p class="subtitle">{{{text 'featureDesc13'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle14'}}}</p>
            <p class="subtitle">{{{text 'featureDesc14'}}}</p>
          </article>
          <article class="tile is-child notification">
            <p class="title">{{{text 'featureTitle15'}}}</p>
            <p class="subtitle">{{{text 'featureDesc15'}}}</p>
          </article>
        </div>
      </div>
    </div>
  </section>

  {{> newsletter-section}}

{{> footer}}
