{{> header}}
  {{> hero}}

  {{> download-section}}

  <div class="section">
    <div class="container">
      <div class="content">
        <p>{{{text 'text1'}}}</p>
        <h3>{{{text 'text2'}}}</h3>
        <ol>
          <li>{{{text 'text3'}}}</li>
        </ol>
      </div>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <figure class="image">
            <img src="assets/images/tutorials/export-all-environments.gif" alt="{{text 'imageAlt1'}}">
          </figure>
        </div>
      </div>
      <div class="content">
        <ol>
          <li value="2">{{{text 'text4'}}}</li>
        </ol>
      </div>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <figure class="image">
            <img src="assets/images/tutorials/import-all-environments.gif" alt="{{text 'imageAlt2'}}">
          </figure>
        </div>
      </div>
      <div class="content">
        <p>{{{text 'text5'}}}</p>
      </div>

      <div class="content">
        <h3>{{{text 'text6'}}}</h3>
        <ol>
          <li>{{{text 'text7'}}}</li>
        </ol>
      </div>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <figure class="image">
            <img src="assets/images/tutorials/export-environment-clipboard.gif" alt="{{text 'imageAlt3'}}">
          </figure>
        </div>
      </div>
      <div class="content">
        <ol>
          <li value="2">{{{text 'text8'}}}</li>
        </ol>
      </div>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <figure class="image">
            <img src="assets/images/tutorials/import-environment-clipboard.gif" alt="{{text 'imageAlt4'}}">
          </figure>
        </div>
      </div>
      <div class="content">
        <p>{{{text 'text9'}}}</p>
        <p>{{{text 'text10'}}}</p>
      </div>

      {{> tutorials-link}}
    </div>
  </div>

  {{> newsletter-section}}

{{> footer}}
