<!DOCTYPE html>
<html lang="{{currentLang}}">

  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{text 'pageTitle'}} - Mockoon</title>
    <meta name="description" content="{{text 'pageDesc'}}">
    <link rel="stylesheet" href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#252830">
    <meta name="theme-color" content="#ffffff">
    {{#if mainSiteConfig.showCanonicalUrl}}
      <link rel="canonical" href="{{currentAbsoluteUrl}}">
    {{/if}}

    {{#if mainSiteConfig.showAlternatesUrls}}
      {{#each linkAlternate}}
        {{#if lang}}
          <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if mainSiteConfig.addGoogleAnalytics}}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{mainSiteConfig.googleAnalyticsId}}', 'auto');
        ga('send', 'pageview');
      </script>
    {{/if}}
    <meta property="og:image" content="https://mockoon.com/images/main.jpg">
    <meta property="og:url" content="https://mockoon.com">
    <meta property="og:title" content="Mockoon - {{text 'pageTitle'}}">
    <meta property="og:description" content="{{text 'pageDesc'}}">
    <meta property="og:type" content="website">
  </head>

  <body>
