{{> header}}
  {{> hero}}

  {{> download-section}}

  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <a href="tutorial/api-mocking-proxy-mode">
                <figure class="image">
                  <img src="assets/images/tutorials/thumbnails/proxy.jpg" alt="">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{text 'tutorialProxyModeTitle'}}</p>
                </div>
              </div>

              <div class="content">
                {{text 'tutorialProxyModeDesc'}}
              </div>
            </div>
            <footer class="card-footer">
              <a href="tutorial/api-mocking-proxy-mode" class="card-footer-item">{{text 'readButton'}}</a>
            </footer>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <a href="tutorial/serve-mock-api-tls">
                <figure class="image">
                  <img src="assets/images/tutorials/thumbnails/https.jpg" alt="">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{text 'tutorialHttpsModeTitle'}}</p>
                </div>
              </div>

              <div class="content">
                {{text 'tutorialHttpsModeDesc'}}
              </div>
            </div>
            <footer class="card-footer">
              <a href="tutorial/serve-mock-api-tls" class="card-footer-item">{{text 'readButton'}}</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <a href="tutorial/automatic-handling-preflight-requests">
                <figure class="image">
                  <img src="assets/images/tutorials/thumbnails/cors.jpg" alt="">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{text 'tutorialCorsTitle'}}</p>
                </div>
              </div>

              <div class="content">
                {{text 'tutorialCorsDesc'}}
              </div>
            </div>
            <footer class="card-footer">
              <a href="tutorial/automatic-handling-preflight-requests" class="card-footer-item">{{text 'readButton'}}</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <a href="tutorial/define-prefixed-api">
                <figure class="image">
                  <img src="assets/images/tutorials/thumbnails/prefix.jpg" alt="">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{text 'tutorialPrefixTitle'}}</p>
                </div>
              </div>

              <div class="content">
                {{text 'tutorialPrefixDesc'}}
              </div>
            </div>
            <footer class="card-footer">
              <a href="tutorial/define-prefixed-api" class="card-footer-item">{{text 'readButton'}}</a>
            </footer>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <a href="tutorial/incoming-requests-logs">
                <figure class="image">
                  <img src="assets/images/tutorials/thumbnails/logs.jpg" alt="">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{text 'tutorialRequestsLogsTitle'}}</p>
                </div>
              </div>

              <div class="content">
                {{text 'tutorialRequestsLogsDesc'}}
              </div>
            </div>
            <footer class="card-footer">
              <a href="tutorial/incoming-requests-logs" class="card-footer-item">{{text 'readButton'}}</a>
            </footer>
          </div>
        </div>

        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
      </div>
    </div>
  </div>

  {{> newsletter-section}}

{{> footer}}
